{% extends 'base.html' %}
{% block content %}
	<h2>{{ theme.title }}</h2>
	<hr />

	{% for comment in comments %}
		<div class="col-1 offset-1">
			{% if comment.user.picture %}
			<img style="float: left;" src="{{ comment.user.picture.url }}" alt="comment user picture" width="50px" height="50px" />
			{% endif %}
		</div>
		<div class="col-8 offset-2">
			<p>Name: {{ comment.user.username }}</p>
			<p>{{ comment.comment | linebreaks }}</p>
		</div>
		<div class="col-10 offset-1">
			<hr />
		</div>
	{% endfor %}

	{% if user.is_authenticated %}
		<div class="col-4 offset-7">
			<form method="post">
				{% csrf_token %}
				{{ post_comment_form.as_p }}
				<input id="save_comment" class="btn btn-warning" type="button" value="Temporarily saved" />
				<input class="btn btn-primary" type="submit" value="Post" />
			</form>
		</div>
	{% endif %}
{% endblock %}

{% block javascript %}
	<script>
		$("#save_comment").click(() => {
			let comment = $("#id_comment").val()

			// コメントを一時保存するためのAjaxを定義
			$.ajax({
				url: "{% url 'boards:save_comment' %}",
				type: 'GET',
				data: {comment: comment, theme_id: "{{ theme.id }}"},
				dataType: "json",
				success: (json) => {
					if (json.message) {
						alert(json.message)
					}
				}
			})
		})
	</script>
{% endblock %}