<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<!-- Bootstrap5 @see https://getbootstrap.jp/docs/5.0/getting-started/introduction/ -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
			crossorigin="anonymous"
		>
		<title>Title</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="{% url 'accounts:home' %}">
				Home
			</a>
		</nav>
		{% block content %}{% endblock %}
	</body>
</html>